# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Executable created by running `go build ./cmd/oms` on macOS or Linux
/oms

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
.coverage

# Dependency directories (remove the comment below to include it)
# vendor/

# File path (relative to project) passed to the --db-filename option
# when starting the local development server, as per the docs
/temporal-persistence.db

# Go workspace file
go.work

# Example input file used for manually running the Order Workflow
example-input.json

# Irrelevant file created by macOS Finder 
.DS_Store

# SQLite database
api-store.db

# Directories created by the web application
node_modules
.svelte-kit

