apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/component: billing-api
    app.kubernetes.io/name: oms
  name: billing-api
  namespace: oms
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/component: billing-api
      app.kubernetes.io/name: oms
  serviceName: billing-api
  template:
    metadata:
      labels:
        app.kubernetes.io/component: billing-api
        app.kubernetes.io/name: oms
    spec:
      containers:
        - args:
            - -k
            - supersecretkey
            - -s
            - billing,fraud
          env:
            - name: BILLING_API_PORT
              value: "8081"
            - name: BIND_ON_IP
              value: 0.0.0.0
            - name: FRAUD_API_PORT
              value: "8084"
            - name: TEMPORAL_ADDRESS
              value: temporal-frontend.temporal:7233
          image: ghcr.io/temporalio/reference-app-orders-go-api:latest
          name: billing-api
          ports:
            - containerPort: 8081
              protocol: TCP
            - containerPort: 8084
              protocol: TCP
          imagePullPolicy: Always
      enableServiceLinks: false
