# @@@SNIPSTART oms-billing-worker-deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/component: billing-worker
    app.kubernetes.io/name: oms
  name: oms-billing-worker
  namespace: oms
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/component: billing-worker
      app.kubernetes.io/name: oms
  template:
    metadata:
      labels:
        app.kubernetes.io/component: billing-worker
        app.kubernetes.io/name: oms
    spec:
      containers:
        - args:
            - -k
            - supersecretkey
            - -s
            - billing
          env:
            - name: FRAUD_API_URL
              value: http://billing-api:8084
            - name: TEMPORAL_ADDRESS
              value: temporal-frontend.temporal:7233
          image: ghcr.io/temporalio/reference-app-orders-go-worker:latest
          name: billing-worker
          imagePullPolicy: Always
      enableServiceLinks: false
# @@@SNIPEND
