apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: codec-server
    app.kubernetes.io/name: oms
  name: codec-server
  namespace: oms
spec:
  ports:
    - name: "8089"
      port: 8089
      targetPort: 8089
  selector:
    app.kubernetes.io/component: codec-server
    app.kubernetes.io/name: oms
