apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: main-api
    app.kubernetes.io/name: oms
  name: main-api
  namespace: oms
spec:
  ports:
    - name: "8082"
      port: 8082
      targetPort: 8082
    - name: "8083"
      port: 8083
      targetPort: 8083
  selector:
    app.kubernetes.io/component: main-api
    app.kubernetes.io/name: oms
